<div class="container">
    <h1>My Plant Collection</h1>

    <div class="accordion" id="plantCollectionAccordion">
        <% @collected_plants.each do |plant| %>
            <% labelId = "accordionHeader-#{plant.id}" %>
            <% collapseId = "collapsePlant-#{plant.id}" %>
            <div class="accordion-item">
                <h2 class="accordion-header" id="<%= labelId %>">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#<%= collapseId %>" aria-expanded="false" aria-controls="<%= collapseId %>">
                    <%= plant.name %>
                </button>
                </h2>
                <div id="<%= collapseId %>" class="accordion-collapse collapse" aria-labelledby="<%= labelId %>" data-bs-parent="#plantCollectionAccordion">
                <div class="accordion-body row">
                    <div class="col-md">
                    
                    </div>

                    <div class="col-md">
                        <h3>Species Info</h3>
                        <%= render partial: 'plant_species/card', locals: { plant_species: plant.species, details: true } %>
                    </div>
                </div>
                </div>
            </div>
        <% end %>
    </div>
</div>
