
<div class="card" style="width: 20rem;">
    <div class="card-body">
        <h5 class="card-title"><%= plant_species.scientific_name %></h5>
        <h6 class="card-subtitle mb-2 text-muted"><%= plant_species.common_name %></h6>
        <% if local_assigns[:details] && details %>
            <hr>
            <h6>Care Instructions</h6>
            <p class="card-text"><%= plant_species.care_instructions %></p>
            <hr>
            <h6>Light Level</h6>
            <p class="card-text"><%= plant_species.light_level.titleize %></p>
            <h6>Watering Interval</h6>
            <p class="card-text">Once every <strong><%= plant_species.watering_interval %> day(s)</strong></p>
        <% end %>

        <div class="d-flex justify-content-between">
            <% if local_assigns[:btns] && btns.include?(:show) %>
                <%= link_to "Show", plant_species_url(plant_species),
                    class: "card-link btn btn-primary" %>
            <% end %>
            <% if local_assigns[:btns] && btns.include?(:edit) %>
                <%= link_to "Edit", edit_plant_species_url(plant_species),
                class: "card-link btn btn-secondary" %>
            <% end %>
            <% if local_assigns[:btns] && btns.include?(:add) %>
                <% modal_id = "addCollectionBtn-#{plant_species.id}" %>
                <%= button_tag "Add", type: "button", class: "btn btn-success", data: { 'bs-toggle' => 'modal', 'bs-target' => "\##{modal_id}" }  %>
                <%= render partial: 'collected_plants/new_modal', locals: { species: plant_species, id: modal_id, collected_plant: collected_plant } %>
            <% end %>
            <% if local_assigns[:btns] && btns.include?(:delete) %>
                <%= form_with url: plant_species_url(plant_species), method: :delete do |form| %>
                    <%= form.submit "Delete", class: "btn btn-danger" %>
                <% end %>
            <% end %>
        </div>
    </div>
</div>
