<div class="container-fluid">
    <div class="row">
        <div class="col-md-6 offset-3">
            <h1>New Plant Species</h1>
            <%= form_with(model: @plant_species) do |form| %>
                <%= form.label :scientific_name, "Scientific Name", class: "form-label" %>
                <%= form.text_field :scientific_name, class: "form-control" %>
                <%= form.label :common_name, "Common Name", class: "form-label" %>
                <%= form.text_field :common_name, class: "form-control" %>
                <%= form.label :care_instructions, "Care Instructions", class: "form-label" %>
                <%= form.text_area :care_instructions, class: "form-control" %>

                <%= form.submit "Save", class: "btn btn-success" %>
            <% end %>
        </div>
    </div>
</div>
