<!DOCTYPE html>
<html>

<head>
    <title>Plantera</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
</head>

<body>
    <%= render partial: 'layouts/header', locals: { active: @active_header } unless @disable_header %>
    <%= render partial: 'layouts/notice', locals: { notice: flash[:notice] }  if flash[:notice] %>
    <%= render partial: 'layouts/alerts', locals: { alerts: flash[:alerts] }  if flash[:alerts] %>
    <%= render partial: 'layouts/alerts', locals: { alerts: [flash.alert }  if flash.alert %>

    <%= yield %>
</body>

</html>
